page-notification {

}
.notif{
    opacity: 0.3;
    
}

.status{
    position: absolute;
    border-radius: 50%!important;
    width: 100px;
    height: 90px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    
}