<!--
  Generated template for the WarungPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navbar">
    <ion-title>{{ namaPedagang }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event);">
    <ion-refresher-content 
        pullingText="Pull to refresh"
        pullingIcon="arrow-dropdown"
        refreshingSpinner="circles"
        refreshingText="..fetching">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card  *ngFor="let menu of menus">
    <div class="menupdg">
      <img width="80" height="150S" [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpeg;base64,' +  menu.fotoMenu)">
      <ion-list>
        <ion-label class="namaMenu">{{menu.namaMenu}}</ion-label>
        <ion-label>{{menu.deskripsiMenu}}</ion-label>
        <ion-label>{{menu.hargaMenu}}</ion-label>
      </ion-list>
      <ion-row>
        <ion-col col-6>
          <button ion-button (click)="increment(menu)" block color="navbar" style="width: 50px; padding: 10px;" >
            <ion-icon name="cart">Add</ion-icon>
          </button>
        </ion-col>
        <ion-col col-6>
            <ion-item *ngIf="cart[menu.idMenu]">
                <ion-icon name="remove-circle" (click)="decrement(menu)" color="navbar" item-right></ion-icon>
                <h2 item-right>{{ cart[menu.idMenu].quantity }}</h2>
                <ion-icon name="add-circle" (click)="increment(menu)" color="navbar" item-right></ion-icon>
              </ion-item>
        </ion-col>

      </ion-row>
      
      <!-- <button ion-button block [navPush]="order" [navParams]="menu">Order</button> -->

    </div>
  </ion-card>
  <ion-fab bottom center>
    <button ion-button style="width:100%"[navPush]="cartpage" color="gray">
      <ion-icon name="cart"></ion-icon>
    </button>
  </ion-fab>
  
</ion-content>
